#get-the-facts {
  text-align: center;
  margin: 0;
  padding: 0;
}

/*
 * Typography
 */

#get-the-facts .copy {
  font-family: "Archer", "Antic Slab", serif;
  line-height: 1.2;
}

#get-the-facts .title,
#get-the-facts h1,
#get-the-facts h2,
#get-the-facts h3,
#get-the-facts h4 {
  font-family: Gotham, "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

#get-the-facts h2 {
  font-size: 38px;
  line-height: 1;
}

#get-the-facts h3 {
  font-size: 30px;
  line-height: 1;
}

#get-the-facts h4 {
  font-size: 22px;
  line-height: 1.1;
  letter-spacing: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

#get-the-facts sup {
  font-size: 60%;
  /* Align with top of text without expanding line-height of lines with a <sup>*/
  /* See http://stackoverflow.com/a/1530819/407845 */
  vertical-align: top;
  position: relative;
  top: 0.2em;
}

/*
 * Layout
 */
.gtf-column {
  max-width: 1160px;
  margin: 0 auto;
}

.gtf-section {
  padding: 3.5% 0 4%;
}

@media (min-width: 1160px) {
  .gtf-section {
    padding: 35px 0 45px;
  }
}

#get-the-facts .paper-bg {
  background-color: #E8E8E8;
  background: url(images/paper-bg.jpg) repeat;
}


/* Sections */

#poultry-problem {
  background: url(images/poultry-problem-bg.jpg) no-repeat center top;
  background-size: cover;
  height: 650px;
}

#poultry-problem h1 {
  color: white;
  text-shadow: 0 0 15px rgba(0,0,0, 0.5);
  font-size: 74px;
  padding: 30px 0 15px;
  margin: 0 30px; /* don't extend zag border beyond type */
  line-height: 1;
  background: url(images/zag-white.png) repeat-x left bottom;
  display: inline-block;
}

#percent-factory {
  padding: 3.5% 0 4%;
}

@media (min-width: 1160px) {
  #percent-factory {
    padding: 35px 0 45px;
  }
}

#percent-factory .graphic {
  height: 20px;
  padding-top: 10%;
  margin: 2% 10px -0.6%;
  background: url(images/percent-factory-bg.png) no-repeat center bottom;
  border-radius: 5px;
  color: white;
  background-size: contain;
  z-index: -1;
}

#percent-factory .gtf-column {
  padding: 0 20px;
}

#percent-factory h2 {
  background-color: #282828;
  border-radius: 5px;
  color: white;
  padding: 12px 16px 16px 16px;
  margin: 0;
}

#eating-more-than-ever h2 {
  color: #7EAFDF;
  padding: 0 10%;
}

#eating-more-than-ever .graphic {
  width: 100%;
  max-width: 622px;
  display: inline-block;
  box-sizing: border-box;
  padding: 2% 10px;
}

#eating-more-than-ever .graphic-inner {
  padding-top: 57.4%;
  background: url(images/eating-more-than-ever.png) no-repeat center bottom;
  background-size: contain;
}

#consumed-every-year h2 {
  color: #7EAFDF;
  padding: 0 5%;
}

#consumed-every-year h3 {
  padding: 4% 10px 0.2% 10px;
}

#consumed-every-year .chicken {
  background: url(images/chicken-pop.png) no-repeat center bottom;
  background-size: contain;
  padding-top: 18%;
  margin: 0 10px 15px 10px;
}

#consumed-every-year .pop {
  font-size: 24px;
  color: #282828;
}

#consumed-every-year .turkey-cow-pig {
  margin-top: 45px;
  background-color: #282828;
  border-radius: 4px;
}

#consumed-every-year .tcp-column {
  display: inline-block;
  height: 165px;
  color: white;
  width: 32%;
  vertical-align: bottom;
  line-height: 11;
}
@media (max-width: 1100px) {
  #consumed-every-year .turkey-cow-pig {
    width: 400px;
  }
  #consumed-every-year .tcp-column {
    display: block;
    width: 100%;
  }
}

#consumed-every-year .turkey {
  background: url(images/turkey-pop.png) no-repeat center 60px;
}
#consumed-every-year .cow {
  background: url(images/cow-pop.png) no-repeat center 26px;
}
#consumed-every-year .pig {
  background: url(images/pig-pop.png) no-repeat center 40px;
}

#consumed-every-year .human {
  background: url(images/human-pop.png) no-repeat center bottom;
  background-size: contain;
  width: 400px;
  height: 67px;
  margin-top: 40px;
  margin-bottom: 6px;
}

#bred-large {
  background: #7DAEDF url(images/bred-large.png) no-repeat center bottom;
  padding-bottom: 300px;
}
@media (max-width: 546px) {
  #bred-large {
    background-size: contain;
    padding-bottom: 55%;
  }
}

#bred-large h2 {
  color: white;
  padding: 0 20px;
  pe
}

#good-for-us {
  background: url(images/good-for-us.jpg) no-repeat left top;
  background-size: cover;
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
#good-for-us .outer {
  text-align: left;
  padding: 0 10%;
}
@media (min-width: 780px) {
  #good-for-us .quote {
    max-width: 440px;
  }
}
#good-for-us .quote > * {
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 1);
}
#good-for-us h2 {
  padding-bottom: 31px;
  margin-bottom: 22px;
  margin-top: 0;
  background: url(images/zag-white.png) repeat-x left bottom;
}
#good-for-us .intro {
  margin-left: -0.3em;
}
#good-for-us .punch {
  letter-spacing: 1px;
}
#good-for-us .byline {
  text-align: right
}

#multidrug-resistant {
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 799px) {
  #multidrug-resistant .gtf-column {
    max-width: 430px;
  }
}

#multidrug-resistant .copy {
  text-transform: uppercase;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}
#multidrug-resistant img {
  width: 50%;
  margin: 30px auto 0;
}

#environment {
  background: url(images/environment.jpg) no-repeat 10% center;
  background-size: cover;
  color: white;
  text-shadow: 0 0 15px rgba(0,0,0, 0.7);
}
#environment h2 {
  color: white;
  margin-top: 0;
}
#environment h4 {
  color: white;
}
#environment .outer {
  text-align: left;
  padding: 0 10%;
  padding-bottom: 200px;
}
#environment .intro {
  margin-left: -0.3em;
}
#environment .punch {
  letter-spacing: 1px;
}
#environment .byline {
  font-size: 70%;
}

#ghg {
  background: #F1F1F1;
  padding-left: 5%;
  padding-right: 5%;
}
#ghg .heading {
  max-width: 760px;
}
#ghg .outer {
  margin: 15px auto 0;
  position: relative;
  width: 657px;
  max-width: 100%;
}
#ghg .world {
  background: url(images/ghg.png) no-repeat center center;
  background-size: contain;
  position: relative;
  padding-bottom: 109%;
}
#ghg .legend-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 3px;
}
#ghg .legend-livestock {
  color: #232323;
}
#ghg .legend-livestock .legend-icon {
  background-color: #232323;
}
#ghg .legend-other {
  color: #48AFE2;
  margin-bottom: 25px;
}
#ghg .legend-other .legend-icon {
  background-color: #48AFE2;
}
#ghg .bittman {
  background-color: #282828;
  border-radius: 5px;
  color: white;
  padding: 16px 35px;
  display: inline-block;
}
#ghg .bittman h4 {
  font-size: 26px;
  color: white;
}

#farmers {
  background: url(images/farmers.jpg) no-repeat 40% top;
  background-size: cover;
  color: white;
}
#farmers .outer {
  text-align: left;
  padding: 0 10%;
}
@media (min-width: 780px) {
  #farmers .quote {
    max-width: 535px;
  }
}
#farmers .quote > * {
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 1);
}
#farmers h2 {
  padding-bottom: 31px;
  margin-bottom: 22px;
  margin-top: 0;
  background: url(images/zag-white.png) repeat-x left bottom;
}
#farmers .intro {
  margin-left: -0.3em;
}
#farmers .punch {
  letter-spacing: 1px;
}
#farmers .byline {
  text-align: right
}

#big-ag h4 {
  color: #7EAFDF;
  letter-spacing: 1px;
  padding: 0 20px;
}
#big-ag .outer {
  max-width: 791px;
  margin: 10px auto 0;
}
#big-ag .circle {
  background: url(images/big-ag.png) no-repeat center center;
  background-size: contain;
  padding-bottom: 91%;
  margin: 0 10px;
  position: relative;
}
#big-ag .circle h2 {
  position: absolute;
  left: 0;
  top: 0;
  padding: 32% 30% 0;
}
@media (max-width: 775px) {
  #big-ag .circle h2 {
    padding-top: 26%;
  }
}
@media (max-width: 595px) {
  #big-ag .circle h2 {
    font-size: 24px;
    padding-top: 28%;
  }
}

#better-way {
  background: url(images/better-way.jpg) no-repeat 10% top;
  background-size: cover;
  color: white;
}
#better-way h2 {
  background: url(images/zag-white.png) repeat-x left bottom;
  padding-bottom: 21px;
  margin-bottom: 12px;
}
#better-way .outer {
  text-align: left;
  padding: 0 10%;
}
#better-way .quote h3 {
  margin: 2px 0;
}
@media (min-width: 780px) {
  #better-way .quote {
    max-width: 535px;
  }
}
#better-way .quote > * {
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

#how-eat .vending {
  margin-top: 15px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}
#how-eat .box {
  margin-top: 8px;
  background-color: #7EAFDF;
  border-radius: 5px;
  color: white;
  padding: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
#how-eat .copy {
  color: white;
  text-transform: uppercase;
}
#how-eat h3 {
  color: white;
  margin: 1px 0;
}

#search-bp .gtf-column {
  padding: 0 20px;
}
#search-bp h2 {
  margin: 0;
}
#search-bp h4 {
  margin: 0;
  font-size: 20px;
}

#grades {
  margin-top: 30px;
}
#grades .grade-column {
  max-width: 283px;
  display: inline-block;
  margin-right: 10px;
}@media (max-width: 900px) {
  #grades {
    max-width: 370px;
  }
  #grades .grade-column {
    max-width: none;
    width: 95%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
#grades .grade-column:last-child {
  margin-right: 0;
}
#grades .grade-column.bad .grade {
  background-color: #D6002B;
}
#grades .grade-column.bad .letter {
  color: #D6002B;
}
#grades .grade-column.okay .grade {
  background-color: #E17810;
}
#grades .grade-column.okay .letter {
  color: #E17810;
}
#grades .grade-column.good .grade {
  background-color: #008F09;
}
#grades .grade-column.good .letter {
  color: #008F09;
}
#grades .grade-column h4 {
  margin-top: 8px;
}
#grades .grade {
  text-align: left;
  color: white;
  padding: 8px;
}
#grades .grade.b {
  border-top: 3px solid rgba(255,255,255,0.8);
  background-color: #1DB15A;
}
#grades .grade-column.good .grade.b .letter {
  color: #1DB15A;
}
#grades .letter {
  font-size: 32px;
  background-color: white;
  width: 46px;
  text-align: center;
  padding: 3px 0;
  border-radius: 30px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
#grades .letter .qual {
  font-size: 20px;
  position: relative;
  top: -5px;
  right: 2px;
  display: inline-block;
  width: 3px;
}
#grades .titles {
  position: relative;
  padding-left: 56px;
  padding-top: 6px;
  box-sizing: border-box;
  height: 56px;
  border-bottom: 2px solid rgba(255,255,255,0.5);
}
#grades .title.oneline {
  line-height: 2;
}
#grades .subtitle {
  font-size: 12px;
}
#grades .criteria {
  margin: 0;
  -webkit-padding-start: 20px;
  padding-top: 8px;
  padding-bottom: 40px;
}

#together {
  background: url(images/together.jpg) no-repeat 72% top;
  background-size: cover;
}
#together h2 {
  text-align: left;
  background: url(images/zag-grey.png) repeat-x left bottom;
  padding-bottom: 21px;
  margin-top: 40px;
  margin-bottom: 120px;
  margin-right: 200px;
  margin-left: 10%;
  max-width: 440px;
}

#references .gtf-column {
  padding: 0 20px;
  text-align: left;
}

#references .ref {
  color: black;
  text-align: left;
  display: block;
  line-height: 1.4;
}
#references .ref a {
  color: #7EAFDF;
  text-decoration: underline;
}
